*{
    margin: 0;
    padding: 0;
    color: #363636;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #454545;
}
ul{
    list-style-type: none;
}
a{
    color: #181818;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
#rs__school{
    margin-left: 20px;
    font-weight: 800;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}
nav ul li{
    padding: 0 20px;
}
main{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
#about{
    width: 35%;
}
#info{
    width: 60%;
}
.my__photo{
    border-radius: 50%;
    border: 5px solid #363636;
    width: 300px;
    height: 300px;
    margin: 10px 0;
}
.my__photo img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 50%;
}
h1{
    font-size: 36px;
    padding: 20px 0;
}
h2{
    font-size: 32px;
    background-color: #454545;
    width: 40%;
    color: #fff;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    padding: 0 5px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
    background-color: #454545;
    width: 40%;
    color: #fff;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding: 0 5px;
}
h5{
    font-size: 22px;
}
progress{
    background-color: #372422;
}
#skills ul img{
    width: 20px;
    height: auto;
}
#skills ul li{
    display: flex;
    align-items: center;
}
#skills ul li span{
    margin-left: 5px;
}
#university__articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer{
    border-top: 1px #454545 solid;
    padding: 5px;
}
footer img{
    height: 40px;
    width: auto;
}
#skills li, #contacts li, #languages li{
    padding: 3px 0;
}
pre{
    width: 70%;
}
#projects img{
    width: 50%;
    height: auto;
}
@media (max-width: 900px) {
    nav ul{
        font-size: 14px;
    }
    nav ul li{
        padding: 0 10px;
    }
    .my__photo{
        width: 150px;
        height: 150px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 15px;
    }
    #university__articles{
        display: block
    }
}
@media (max-width: 768px) {
    header{
        display: block;
    }
    nav ul{
        font-size: 11px;
    }
    nav ul li{
        padding: 0 7px;
    }
    main{
        display: block;
    }
    #about{
        width: 100%;
    }
    #info{
        width: 100%;
    }
}